html, body{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(images/wall/wall_index.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-width: 100vw;
    min-height: 100vh;
}

.flex{
    display: flex;
}

main{
    flex-grow: 1;
}

#link-jouer{
    justify-content: center;
    align-items: center;
}

